<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HihatuWorktblMapper">
    
    <resultMap type="HihatuWorktbl" id="HihatuWorktblResult">
        <result property="hid"    column="hid"    />
        <result property="person"    column="person"    />
        <result property="hdate"    column="hdate"    />
        <result property="status"    column="status"    />
        <result property="fix"    column="fix"    />
        <result property="stime"    column="stime"    />
        <result property="etime"    column="etime"    />
        <result property="relax"    column="relax"    />
        <result property="loc"    column="loc"    />
        <result property="extra"    column="extra"    />
    </resultMap>

    <sql id="selectHihatuWorktblVo">
        select hid, person, hdate, status, fix, stime, etime,relax,loc, extra 
        from hihatu_worktbl
    </sql>

    <select id="selectHihatuWorktblList" parameterType="HihatuWorktbl" resultMap="HihatuWorktblResult">
        <include refid="selectHihatuWorktblVo"/>
        <where>  
            <if test="person != null  and person != ''"> and person = #{person}</if>
            <if test="hdate != null "> and hdate = #{hdate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="stime != null  and stime != ''"> and stime = #{stime}</if>
            <if test="etime != null  and etime != ''"> and etime = #{etime}</if>
            <if test="relax != null  and relax != ''"> and relax = #{relax}</if>
            <if test="loc != null  and loc != ''"> and loc = #{loc}</if>
            <if test="extra != null  and extra != ''"> and extra = #{extra}</if>
        </where>
        order by hdate desc
    </select>
    
    <select id="selectHihatuWorktblByHid" parameterType="Long" resultMap="HihatuWorktblResult">
        <include refid="selectHihatuWorktblVo"/>
        where hid = #{hid}
    </select>
        
    <insert id="insertHihatuWorktbl" parameterType="HihatuWorktbl" useGeneratedKeys="true" keyProperty="hid">
        insert into hihatu_worktbl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="person != null and person != ''">person,</if>
            <if test="hdate != null">hdate,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="fix != null">fix,</if>
            <if test="stime != null">stime,</if>
            <if test="etime != null">etime,</if>
            <if test="relax != null">relax,</if>
            <if test="loc != null">loc,</if>
            <if test="extra != null">extra,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="person != null and person != ''">#{person},</if>
            <if test="hdate != null">#{hdate},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="fix != null">#{fix},</if>
            <if test="stime != null">#{stime},</if>
            <if test="etime != null">#{etime},</if>
            <if test="relax != null">#{relax},</if>
            <if test="loc != null">#{loc},</if>
            <if test="extra != null">#{extra},</if>
         </trim>
    </insert>

    <update id="updateHihatuWorktbl" parameterType="HihatuWorktbl">
        update hihatu_worktbl
        <trim prefix="SET" suffixOverrides=",">
            <if test="person != null and person != ''">person = #{person},</if>
            <if test="hdate != null">hdate = #{hdate},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="fix != null">fix = #{fix},</if>
            <if test="stime != null">stime = #{stime},</if>
            <if test="etime != null">etime = #{etime},</if>
            <if test="relax != null">relax = #{relax},</if>
            <if test="loc != null">loc = #{loc},</if>
            <if test="extra != null">extra = #{extra},</if>
        </trim>
        where hid = #{hid}
    </update>

    <delete id="deleteHihatuWorktblByHid" parameterType="Long">
        delete from hihatu_worktbl where hid = #{hid}
    </delete>

    <delete id="deleteHihatuWorktblByHids" parameterType="String">
        delete from hihatu_worktbl where hid in 
        <foreach item="hid" collection="array" open="(" separator="," close=")">
            #{hid}
        </foreach>
    </delete>

</mapper>