<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('通勤列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>员工：</label>
                                <input type="text" name="person"/>
                            </li>
                            <li>
                                <label>日期：</label>
                                <input type="text" class="time-input" placeholder="请选择日期" name="hdate"/>
                            </li>
                            <li>
                                <label>类别：</label>
                                <select name="status" th:with="type=${@dict.getType('work_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="extra"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:worktbl:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:worktbl:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:worktbl:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:worktbl:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:worktbl:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:worktbl:remove')}]];
        var statusDatas = [[${@dict.getType('work_status')}]];
        var prefix = ctx + "system/worktbl";
		var weekArray = new Array("日", "月", "火", "水", "木", "金", "土");
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "通勤",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'hid',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'person',
                    title: '员工'
                },
                {
                    field: 'hdate',
                    title: '日期',
                    formatter: function(value, row, index) {
						var d=new Date(value);
	                    console.log(d.getDay());
						return value+" ("+weekArray[d.getDay()]+")";

                    }
                },
                {
                    field: 'status',
                    title: '类别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'stime',
                    title: '开始时间',
                    formatter: function(value, row, index) {
                       return ( value.substring(0,5));
                    }
                },
                {
                    field: 'etime',
                    title: '结束时间',
                    formatter: function(value, row, index) {
                       return ( value.substring(0,5));
                    }
                },
                {
                    field: 'relax',
                    title: '休息时间',
                    formatter: function(value, row, index) {
						if (value===null)
							return null;
						else
                       		return ( value.substring(0,5));
                    }
                },
                {
                    field: 'loc',
                    title: '位置'
                },
                {
                    field: 'extra',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.hid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.hid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>